##  *--<Preface>--*  ##

#=-  Author Details  -=#
#  Blair Edwards
#  Personal Project

#=-  Part Of  -=#
#  second-pair/klipper-rigger

#=-  Notes  -=#
#  How we move.  How big we are.

##  *--</Preface>--*  ##




##  *--<Main Config>--*  ##

[printer]
kinematics:  cartesian
max_velocity:  550
max_accel:  2200
max_z_velocity:  20
max_z_accel:  100
#square_corner_velocity:  5.0  #!  Tune later.

[extruder]
#  So 0.298 is the ideal PA for 3DQF Utility Green, regardless of acceleration.  This is the highest possible value that consistently results in fully filled out corners; when printing within the printer's quality-limit for acceleration.  Which I do from time-to-time.
#  Printing beyond this results in more bulging, so it might be desirable - depending on the type of print - to sharpen the corners at the cost of reduced filling.
#  Normal PA:  0.298
#  Oversharpen PA:  0.407
#  BMG PA:  0.32
pressure_advance:  0.32

#  BTT SFS V2 Switch
[filament_switch_sensor switch_sensor]
switch_pin:  gpio16
pause_on_runout:  True
runout_gcode:
	PAUSE
	M117 Filament Switch Runout
	M118 Filament Switch Runout
insert_gcode:
	M117 Filament Switch Inserted
	M118 Filament Switch Inserted

#  BTT SFS V2 Encoder
[filament_motion_sensor encoder_sensor]
switch_pin:  gpio25
detection_length:  3.0
extruder:  extruder
pause_on_runout:  True
runout_gcode:
	PAUSE
	M117 Filament Encoder Runout
	M118 Filament Encoder Runout
insert_gcode:
	M117 Filament Encoder Inserted
	M118 Filament Encoder Inserted


[stepper_x]
position_min:  0  #  Left-edge of the bed.
position_max:  231  #  Can't remember the reason for the reduction.

[stepper_y]
position_min:  0  #  Front-edge of the bed.
position_max:  219  #  Can't remember the reason for the reduction.

[stepper_z]
position_max:  220  #  Limited by bowden tube & other accessories.

#  Enable Skew Compensation
[skew_correction]

##  *--</Main Config>--*  ##
